.inscreen{
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}

.textHead{
    width: 50%;
}

.containerDivDforApp{
    background: linear-gradient(#9a9a9a, #9a9a9a) no-repeat center bottom/4px 95%;
    /* background: radial-gradient(blue, white) no-repeat center bottom/4px 95%; */
    padding-bottom: 5rem;
}

.sidetext{
    width: 75%;
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    .sidetext{
        width: 100%;
    }

    .textHead{
        width: 75%;
    }

    .containerDivDforApp{
        background: none;
    }
}