.first-slide-button{
    border-radius: 30px;
}

.slide-input{
    outline: none;
    border: none;
}

/* style={{top:80, bottom:'auto'}} */

@media only screen and (max-width: 1024px) {
    .first-slide-button{
        border-radius:30px;
    }
  }

  @media only screen and (max-width: 775px) {
    .first-slide-button{
        border-radius:30px;
    }
  }

  @media only screen and (max-width: 445px) {
    .first-slide-button{
        border-radius:30px;
        font-size: 12px;
    }
    .slide-input{
        outline: none;
        border: none;
        font-size: 12px;
    }
  }